html {
    scroll-behavior: smooth;
  }
  
body{
    color: rgb(72, 40, 146);
    font-family: 'Dosis', sans-serif;
    background-image: url("images/bamboo-fill.jpg");
    background-repeat: repeat;
    background-size: cover;
    padding-top: 11vw;
    padding-bottom: 18vw;
    min-width: 100%;
    min-height: 100%;

}
/** Navigation Bar **/ 
.navbar {
    background-color:rgb(82, 139, 158);
}

.navbar .navbar-brand {
    color:darkmagenta;
    font-size: calc(18px + 1.3vw);
}

.navbar .navbar-brand:hover {
    color:rgb(95, 8, 95);
}

/* .navbar-brand img {
    width: 4vw;
    height: 4vw;
} */

.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: rgb(72, 40, 146);
    font-size: calc(12px + 1vw);
}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color:rgb(240, 149, 14);
}

/** Jumbotron **/
.jumbotron {
    margin-top: calc(30px +1vw);
    background-color: rgba(139, 0, 139, .8);
}

.jumbotron .row {
    
}

#greeting-div {
    background-color: lightblue;
}

#greeting-div h1 {
    font-size: calc(18px + 4.5vw);
}

#greeting {
    color: rgb(240, 149, 14);
    font-weight: bold;
    text-shadow: -1px -1px 0 rgb(72, 40, 146), 1px -1px 0 rgb(72, 40, 146), -1px 1px 0 rgb(72, 40, 146), 1px 1px 0 rgb(72, 40, 146);
}

#image-div {
    
}
/** Wide Screen **/
@media screen and (min-width: 970px) {
    .jumbotron {
        padding-left: 80px;
    }
}
/** Mobile Screen **/
@media screen and (max-width: 600px) {
   
}

